[*.cs]

# VSSpell001: Spell Check
dotnet_diagnostic.VSSpell001.severity = silent

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = silent

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# CS0164: This label has not been referenced
dotnet_diagnostic.CS0164.severity = none
